<launch>
    <!-- ODOM = 0, POSE = 1, GAZEBO = 2,  MOCAP = 3, VIOBOT = 4, GPS = 5, RTK = 6, VINS = 7 -->
    <arg name="uav_id" default="1" />
    <arg name="external_source" default="3" />
    <arg name="uav_name" default="uav" />
    <arg name="position_topic" default="/Odometry" />
    <arg name="enable_rviz" default="false" />
    <arg name="enable_range_sensor" default="false" />
    <arg name="server" default="192.168.50.100"/>

    <!-- 启动 external_fusion_node-->
    <node name="external_fusion" pkg="uav_control" type="external_fusion_node" output="screen">
        <param name="uav_id" value="$(arg uav_id)" />
        <param name="external_source" value="$(arg external_source)" />
        <param name="uav_name" value="$(arg uav_name)" />
        <param name="position_topic" value="$(arg position_topic)" />
        <param name="enable_range_sensor" value="$(arg enable_range_sensor)" />
    </node>

    <!-- 启动 vrpn_client_ros -->
    <include file="$(find uav_control)/launch/uav_vrpn.launch" if="$(eval external_source == 3)">
        <arg name="server" value="$(arg server)"/>
        <arg name="uav_id" value="$(arg uav_id)"/>
    </include>

    <arg name="rivz_config" default="$(find uav_control)/rviz/uav.rviz"/>
	<!-- 启动Rviz-->
	<group if="$(arg enable_rviz)">
        <node type="rviz" name="rviz_external_fusion" pkg="rviz" args="-d $(arg rivz_config)"/>
    </group>
</launch>
